{% extends "base.html" %}
{% load static %}
{% block title %}Contact Aquantis Ship Agency Trading Co. Ltd
{% endblock title %}
{% block descripcions %}{% endblock descripcions %}
{% block content %}
 <!-- Page Header Start -->
    <div class="container-fluid page-header py-5" style="margin-bottom: 6rem;">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Contact Us</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <div class="container-fluid overflow-hidden py-5 px-lg-0">
        <div class="container feature py-5 px-lg-0">
            <div class="row g-5 mx-lg-0">
                <div class="col-lg-6 feature-text wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase mb-3">Get In Touch</h6>
                    <h1 class="mb-5">Contact For Any Query</h1>
                    <div class="d-flex mb-5 wow fadeInUp" data-wow-delay="0.3s">
                        <i class="fa fa-phone-alt text-primary fa-3x flex-shrink-0"></i>
                        <div class="ms-4">
                            <h5>Phone</h5>
                            <p class="mb-0">+90 216 266 83 52</p>
                        </div>
                    </div>
                    <div class="d-flex mb-5 wow fadeIn" data-wow-delay="0.5s">
                        <i class="fa fa-phone-alt text-primary fa-3x flex-shrink-0"></i>
                        <div class="ms-4">
                            <h5>Mobile</h5>
                            <p class="mb-0">+90 507 227 18 46</p>
                        </div>
                    </div>
                    <div class="d-flex mb-0 wow fadeInUp" data-wow-delay="0.7s">
                        <i class="fa fa-map-marker-alt text-primary fa-3x flex-shrink-0"></i>
                        <div class="ms-4">
                        <p class="mb-0">İçmeler Mah. Çağdaş Sk. Vema Rezidans Sitesi C Blok No:2C İç kapı no:57 Tuzla, İstanbul </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0 wow fadeInRight" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3018.0104292811357!2d29.29737692589027!3d40.84969482137322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caddaabe5bbfcf%3A0x4a7a23f1960d2534!2sPark%20Vema!5e0!3m2!1str!2str!4v1770744872459!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                        frameborder="0" allowfullscreen="" aria-hidden="false"
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}